footer {
    h3 {
        text-transform: uppercase;
        font-family: pr;
        font-size: 12px;
        line-height: 30px;
        @include xs {
            text-align: center;
        }
    }
    .container {
        .white-footer {
            padding: 15px 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .left-side,
            .right-side {
                text-align: left;
            }
            .left-side-moible {
                display: none;
            }
        }
    }
    .yl-footer {
        background-color: $yl-cl;
        .container {
            padding: 15px 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            .left-side,
            .right-side {
                text-align: left;
            }
            .right-side {
                display: flex;
                justify-content: space-between;
                .field_v1 .field__label-wrap::after {
                    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
                    transition: opacity .2s ease-out;
                    will-change: opacity;
                }
                .field {
                    --fieldBorderColor: #000;
                    --fieldBorderColorActive: #fff;
                }
                .page {
                    position: relative;
                    width: 100%;
                    max-width: 225px;
                    display: flex;
                    flex-direction: column;
                    label {
                        margin: 15px 0;
                    }
                    .mess {
                        margin: 0;
                        input {
                            height: 0;
                        }
                    }
                }
                .send-btn {
                    text-transform: uppercase;
                    color: #fff;
                    font-family: pb;
                    cursor: pointer;
                    font-size: 12px;
                    background-color: #000;
                    border: 1px solid #000;
                    width: max-content;
                    padding: 5px 10px;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }
        }
        .copy-right {
            position: relative;
            width: 100%;
            i {
                @include centerAbsolute;
                cursor: pointer;
                top: 35%;
            }
            .up-arrow {
                animation: uparrow 1s linear infinite;
            }
            .copy-text {
                padding: 100px 0;
            }
        }
    }
    @include xs {
        .container {
            .white-footer {
                display: block;
                .left-side,
                .right-side {
                    display: none;
                }
                .left-side-moible {
                    display: block;
                }
            }
        }
        .yl-footer {
            .container {
                .left-side,
                .right-side {
                    display: none;
                }
            }
            .copy-right {
                i {
                    @include centerAbsolute;
                    cursor: pointer;
                    top: 15%;
                }
                .copy-text {
                    padding-top: 50px;
                }
            }
        }
    }
}