header {
    width: 100%;
    height: 150px;
    .head {
        width: 100%;
        max-width: $container-max-width;
        height: 72px;
        background-color: #525355;
        .container {
            width: 100%;
            height: 100%;
            position: relative;
            &:first-child {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .logo {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
            .social-icon {
                position: absolute;
                right: 0;
                @include xs {
                    margin-right: 15px;
                }
            }
        }
        .sec-con {
            position: relative;
            .menu {
                width: 100%;
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                li a {
                    &:hover {
                        color: $yl-cl;
                    }
                }
                .active {
                    color: $yl-cl;
                }
                .center {
                    text-align: center;
                    width: 50%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    .center-menu {
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                    }
                }
                .about {
                    position: absolute;
                    left: 0;
                }
                .contact {
                    position: absolute;
                    right: 0;
                }
            }
        }
        .btn-menu {
            cursor: pointer;
            display: none;
            width: 40px;
            height: 22px;
            position: relative;
            z-index: 802;
            margin-left: 15px;
            span {
                width: 100%;
                height: 2px;
                display: block;
                background-color: $yl-cl;
                position: absolute;
                top: 50%;
                @include transform(translateY(-50%));
                @include transition(0.3s);
            }
            &::after,
            &::before {
                content: "";
                width: 100%;
                height: 2px;
                display: block;
                background-color: $yl-cl;
                @include transform(rotate(0deg) translateY(0px));
                @include transition(transform 0.3s);
            }
            &::after {
                position: absolute;
                bottom: 0;
            }
            &.clicked {
                &::before {
                    @include transform(rotate(45deg) translate(6px, 8px));
                    @include transition(transform 0.3s);
                }
                span {
                    opacity: 0;
                    @include transition(0.3s);
                }
                &::after {
                    @include transform(rotate(-45deg) translate(6px, -8px));
                    @include transition(transform 0.3s);
                }
            }
        }
    }
    .nav {
        display: none;
    }
    @include sm {
        .container-fluid {
            background-color: $black-cl;
            .menu {
                display: none;
            }
            .right {
                .dai-li,
                .dang-ki {
                    display: none;
                }
                .btnmenu {
                    display: block;
                }
            }
        }
        .nav {
            display: block;
            width: 100vw;
            height: 100vh;
            background-color: $black-cl;
            position: fixed;
            top: 0;
            text-transform: uppercase;
            left: -100%;
            @include transform(initial);
            z-index: 800;
            opacity: 1;
            @include transition(opacity 0.3s);
            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                li {
                    padding: 20px 0;
                    a {
                        color: $white-cl;
                        text-align: center;
                        &.active {
                            color: $yl-cl;
                        }
                    }
                }
            }
            &.active {
                left: 0;
                opacity: 1;
                pointer-events: auto;
                @include transition(opacity 0.3s);
            }
        }
    }
    @include xs {
        width: 100%;
        height: 120px;
        .head {
            .sec-con {
                display: none;
            }
            .btn-menu {
                display: block;
            }
        }
        .nav {
            display: block;
            width: 100vw;
            height: 100vh;
            background-color: #525355;
            position: fixed;
            top: 0;
            text-transform: uppercase;
            left: -100%;
            @include transform(initial);
            z-index: 800;
            opacity: 1;
            @include transition(opacity 0.3s);
            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                li {
                    padding: 20px 0;
                    a {
                        color: $white-cl;
                        text-align: center;
                        &.active {
                            color: $yl-cl;
                        }
                    }
                }
            }
            &.active {
                left: 0;
                opacity: 1;
                pointer-events: auto;
                @include transition(opacity 0.3s);
            }
        }
    }
}