.cafepage {
    .welcom {
        background-image: url(../img/bg-cafe.jpg);
        background-size: cover;
        width: 100%;
        height: 100%;
        .container {
            padding: 60px 0;
            .wel-to {
                color: $yl-cl;
            }
            .gbox-title {
                background-color: transparent;
                color: $yl-cl;
            }
            .des {
                color: #ebebeb;
            }
            .line {
                background-color: $yl-cl;
                width: 50%;
            }
        }
    }
    .gallery {
        width: 100%;
        height: 650px;
        background-color: #19191a;
        .container {
            height: 100%;
            width: 100%;
            position: relative;
            .gallery__carousel {
                position: relative;
                height: 100%;
                .gallery__grid {
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-auto-rows: 200px;
                    gap: 15px;
                    overflow: hidden;
                    &-item {
                        overflow: hidden;
                        position: relative;
                        cursor: pointer;
                        @include transition($t);
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            @include transition($t);
                            background: #000;
                            width: 100%;
                            height: 100%;
                            opacity: 0.5;
                            z-index: 10;
                        }
                        &.item1 {
                            grid-row-start: 1;
                            grid-row-end: 3;
                            grid-column-start: 1;
                            grid-column-end: 1;
                            position: relative;
                            .btn-full {
                                position: absolute;
                                bottom: 5%;
                                left: 6.5%;
                                z-index: 10;
                            }
                            .yl-box {
                                position: absolute;
                                bottom: 5%;
                                left: 5%;
                                z-index: 10;
                            }
                            .t-white {
                                position: absolute;
                                bottom: 3%;
                                left: 18%;
                                color: #fff;
                                z-index: 10;
                                letter-spacing: -0.25px;
                            }
                        }
                        &.item2 {
                            grid-row-start: 1;
                            grid-row-end: 2;
                            grid-column-start: 2;
                            grid-column-end: 4;
                        }
                        &.item3 {
                            grid-row-start: 2;
                            grid-row-end: 3;
                            grid-column-start: 2;
                            grid-column-end: 3;
                        }
                        &.item4 {
                            grid-row-start: 2;
                            grid-row-end: 3;
                            grid-column-start: 3;
                            grid-column-end: 4;
                        }
                        &:hover {
                            @include transition($t);
                            &::before {
                                content: "";
                                display: none;
                                @include transition($t);
                            }
                        }
                    }
                }
            }
            .btn-ctrl {
                position: absolute;
                right: 0;
                bottom: 25%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 250px;
                p {
                    font-size: 12px;
                    font-family: pr;
                    color: $yl-cl;
                    text-transform: capitalize;
                    cursor: pointer;
                }
            }
        }
    }
    .carrer {
        padding: 60px;
        .container {
            width: 35%;
            .title-white {
                color: #000;
            }
        }
    }
    .container {
        .line-footer {
            margin-top: 40px;
        }
    }
    @include xs {
        .welcom {
            background-image: url(../img/bg-cafe-moible.jpg);
            .container {
                .des {
                    display: block;
                    font-size: 12px;
                    padding: 0 30px;
                }
                .line {
                    display: block;
                    width: 80%;
                    margin: 30px auto;
                }
            }
        }
        .gallery {
            height: 800px;
            .container {
                .gallery__carousel {
                    padding: 20px;
                    .gallery__grid {
                        @include xs {
                            grid-template-columns: 1fr;
                            grid-auto-rows: 200px;
                            gap: 15px;
                            &-item {
                                &.item1 {
                                    grid-row-start: 1;
                                    grid-row-end: 2;
                                    grid-column-start: 1;
                                    grid-column-end: 1;
                                }
                                &.item2 {
                                    grid-row-start: 2;
                                    grid-row-end: 3;
                                    grid-column-start: 1;
                                    grid-column-end: 1;
                                }
                                &.item3 {
                                    grid-row-start: 3;
                                    grid-row-end: 4;
                                    grid-column-start: 1;
                                    grid-column-end: 1;
                                }
                                &.item4 {
                                    display: none;
                                }
                                .yl-box,
                                .btn-full,
                                .t-white {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .full-src {
                    display: none;
                }
                .btn-ctrl {
                    bottom: 10%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        .carrer {
            padding: 30px 15px;
            .container {
                width: 100%;
            }
        }
    }
}